:root {
  --blue:#2e1da1;
  --light:#8bc5d0;
  --accent:#60acb9;
  --dark:#49828c;
  --white:#e0e7ff;
  --realwhite:#ffffff;
  --black:#222222;
  --text:#000000;
  
  --font-family:'Open sans',sans-serif;
  --font-size:30px;
  --time: 1s;
  
  --width:65%;
  --margin:8%;
  
  --size-h1:32px;
  --size-h2:25px;
  --size-h3:25px;
  --size-ps:14px;
  --size-p:16px;
  --size-pl:18px;
  --perc-60:60%;
  --perc-40:40%;
  --perc-30:40%;
  --perc-20:40%;
}
}

@media screen and (max-width:1300px){
  :root{
    --width:80%;
    --margin:5%;
  }
}
  
@media 
  screen and (max-width:700px), 
  screen and (orientation: portrait){
  :root{
    --width:100%;
    --margin:5%;
  }
}


body{
  font-family:var(--font-family);
  margin:0px;
  padding:0px;
  color:var(--text);
  background-color:var(--blue);
}

p, p.normal, div.container{
  font-size:var(--size-p);
  color:var(--text);
  margin:auto;
  padding: 1em 5em;
  max-width:1000px;
}

p.subtitle{
  color:var(--dark);
  font-size:var(--size-pl);
}
p.large{
}
p.normal{
}
p.small{
}

h1{
  color:var(--blue);
  font-size:var(--size-h1);
  font-weight:bold;
  font-style:italic;
  
  margin:0px;
  border-left: 5px solid var(--white);
  padding-left: 10px;
}

h2{
  font-size:var(size-h2);
  color:var(--dark);
  text-align:center;
  text-decoration:3px underline var(--accent);
}

h3{
  margin: 0px;
  font-size:var(size-h3);
  color:var(--accent);
  text-align:center;
}


ul{
  margin:0px;
}

img {
  width:100%;
}

#top{
  background-color:var(--blue);
  background-image:url("images/background.jpg");
  padding-top: 25%;
  padding-bottom: 16%;
  width:100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

section{
  margin:auto;
  padding-top:2em;
  width:var(--width);
  background-color:var(--white);
}


.blacksec, .blackdiv{
  background-color:var(--black);
  padding: 3em 0;
  color:var(--white);
  width:100%;
}


.blacksec h1{
  margin: 0px var(--margin);
  color:var(--light);
  border-left:12px solid var(--white);
  border-bottom:3px solid var(--white);
}
.blacksec p{
  max-width:800px;
  padding: 3em 5% 3em 5%;
  color:var(--realwhite);
  border-bottom: 2px dashed var(--light);
}

.whitediv{
  background-color:var(--realwhite);
  overflow: hidden;
  margin: 2em 0;
}

.whitediv img{
  width:20%;
  float:left;
}

.whitediv p{
  width:60%;
  float:left;
}
  
.blackdiv{ /*inherrits from .blacksec*/
  padding:0;
  margin-top:1em;
  padding-top:1em;
  overflow: hidden;
}

.blackdiv p{
  color:var(--light);
  float:left;
  width:40%;
}

.blackdiv video{
  width: 40%;
  float:left;
}

/*================Menu============*/
#cssmenu ul li,
#cssmenu ul li a{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#cssmenu {
  width: auto;
  font-family: var(--font-family);
  line-height: 1;
}

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
/*top block*/
#cssmenu > ul > li > a {
  padding: 20px 30px 0px 30px;
  font-size: var(--font-size);
  font-weight: bold;
  
  text-decoration: none;
  text-transform: uppercase;
}
/*top*/
#cssmenu > ul > li.active > a {
  color: var(--light);
}
/*top hover*/
#cssmenu > ul > li.active:hover > a {
  color: var(--white);
}
/*triangle distance*/
#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
/*triangle*/
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 21px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 3px solid var(--light);
  border-right: 3px solid var(--light);
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color var(--time) ease;
  -moz-transition: border-color var(--time) ease;
  -ms-transition: border-color var(--time) ease;
  -o-transition: border-color var(--time) ease;
  transition: border-color var(--time) ease;
}
/*triangle hover*/
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: var(--white);
}

/*technical*/
#cssmenu ul ul {position: absolute;left: -9999px;}
#cssmenu li:hover > ul {left: auto;}
#cssmenu ul ul ul {margin-left: 100%;top: 0;}
#cssmenu ul ul li {height: 0;-webkit-transition: height var(--time) ease;-moz-transition: height var(--time) ease;-ms-transition: height var(--time) ease;-o-transition: height var(--time) ease;transition: height var(--time) ease;}

 /*bottom height*/
#cssmenu ul li:hover > ul > li {
  height: 32px;
}
/*bottom*/
#cssmenu ul ul li a {
  padding: 10px 20px;
  width: 160px;
  font-size: var(--font-size);
  text-decoration: none;
  color: var(--accent);
  -webkit-transition: color var(--time) ease;
  -moz-transition: color var(--time) ease;
  -ms-transition: color var(--time) ease;
  -o-transition: color var(--time) ease;
  transition: color var(--time) ease;
}
/*bottom hover*/
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: var(--light);font-weight: bold;
}


/*mobile*/
@media 
  screen and (max-width:700px), 
  screen and (orientation: portrait){
  .whitediv p{
    width:80%;
    float:none;
  }
  .whitediv div.img{
    margin:auto;
    width:33%;
  }
  .whitediv img{
    width:100%;
  }
  .blackdiv p{
    float:none;
    width:80%;
  }
  
  .blackdiv video{
    width:100%;
    float:none;
  }
}
