
/*================colors=====================*/
h1.large{color: #000000;}
h1.normal{color: #3DD45D;}
h2.normal{color: #3DD45D;}
p.large{color: #6CA678;}
p.normal{color: #6CA678;}
p.small{color: #6CA678;}
p.mini{color: #6CA678;}
section{background-color:#4E4E4E;}
section.left {background-color:#4E4E4E;}
body {background:
    url("http://cdn.akamai.steamstatic.com/steam/apps/214850/ss_a7a8ed4541285790334e31d684f49d03910f8f26.600x338.jpg?t=1464716151") top center no-repeat,
    #000000;
    background-size:100%;}
