/*================Linkies============*/
a.game_block{font-family: verdana;font-size: 15pt;color: #011533;text-decoration: none;}
a.menu {text-align: left;right: 25px;font-family: verdana;font-size: 10.5pt;color: #1598D5;text-decoration: none;background: #FFFFFF;width: 150px;height:30px ;}
a.menu:hover{background-color:#F7FCFF;color:#1388BF;}
/*==============header layout===============*/
h1.large{font-family: verdana;font-size: 22pt;}
h1.normal{font-family: verdana;font-size: 18pt;}
h2.normal{font-family: verdana;font-size: 15pt;}
/*===============Text layout===============*/
p.large{font-family: verdana;font-size: 13pt;}
p.normal{font-family: verdana;font-size: 11pt;}
p.small{font-family: verdana;font-size: 9pt;}
p.mini{font-family: verdana;font-size: 2pt;}
a{text-decoration:none;}

/*==================LAYOUT==================*/
section {width:65%;float:right;margin-bottom:40px;padding:3px;overflow:auto;}
section.left {width:30%;float:left;padding:3px;overflow:auto;margin-right:10px;}

/*==================mobiel===============*/
@media screen and (max-width: 500px){
  section{width: calc(100% - 6px);}
  section.left{width: calc(100% - 6px);}
}

/*================colors=====================*/
h1.large{color: #46A1CB;}
h1.normal{color: #011533;}
h2.normal{color: #011533;}
p.large{color: #313131;}
p.normal{color: #000000;}
p.small{color: #000000;}
p.mini{color: #000000;}
a{color: #000000;}
section{background-color:#CFD8E4;}
section.left {background-color:#B8C6D6;}
body {background-color:#D7F0F0;}
